<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Store form</nb-card-header>
        <nb-card-body>
  <form [formGroup]="storeForm" novalidate (ngSubmit) = "onSubmit()">
   
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control"  formControlName="name" type="text">
        </div>
         
       
         <div class="form-group">
            <label> Email:</label>
            <input class="form-control" formControlName="email" type="email">
        </div>
        
        <div class="form-group">
          <label>Manager Name:</label>
          <input class="form-control" formControlName="manager" type="text">
      </div>
 
        <button type="submit"
            [disabled]=" storeForm.invalid" class="btn btn-success">
            Save
        </button>

</form>
</nb-card-body>
</nb-card>
</div>
   