<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Store form</nb-card-header>
        <nb-card-body>
  <form [formGroup]="angForm" novalidate (ngSubmit) = "onSubmit()">
    <div style="float:left; width:45%">
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control"  formControlName="name" type="text">
        </div>
         
        <div class="form-group">
          <label for="store">Store</label>
          <select class="form-control" id="store" formControlName="store">
              <option *ngFor="let pow of powers" [value]="pow.name">{{pow.name}}</option>
            </select>
        </div>
         <div class="form-group">
            <label> carbohydrates:</label>
            <input class="form-control" formControlName="carbohydrates" type="number">
        </div>
        
        <div class="form-group">
          <label>Proteins:</label>
          <input class="form-control" formControlName="protein" type="number">
      </div>
      
      <div class="form-group">
        <label>Sugar:</label>
        <input class="form-control" formControlName="sugar" type="number">
    </div>

    <div class="form-group">
      <label>Image:</label>
      <input formControlName="img_url" type="file"
      id="file"
      (change)="handleFileInput($event.target.files)">
      </div>
    
  </div>
  <div style="float:right; width:45%">
    <div class="form-group">
      <label>Fats:</label>
      <input class="form-control" formControlName="fat" type="number">
  </div>
  
  <div class="form-group">
    <label>Fibre:</label>
    <input class="form-control" formControlName="fibre" type="number">
</div>
 
<div class="form-group">
  <label>Salt:</label>
  <input class="form-control" formControlName="salt" type="number">
</div>
 
<div class="form-group">
  <label>Grams:</label>
  <input class="form-control" formControlName="grams" type="number">
</div>

 
<div class="form-group">
  <label>In grams:</label>
  <input class="form-control" formControlName="in_grams" type="number">
</div>

<div class="form-group">
  <label for="category">Category</label>
  <select class="form-control" id="category" formControlName="category">
      <option *ngFor="let category of categories" [value]="category">{{category}}</option>
    </select>
</div>
 
        <button type="submit"
            [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
            Save
        </button>
 
  </div>
</form>
</nb-card-body>
</nb-card>
</div>
   